target/
.idea/
stracktrace.log
classes/
*.sublime*
*.iml
*.ipr
*.iws
.settings/org.eclipse.ltk.core.refactoring.prefs
/alert2-as/.buildpath
/alert2-as/.project
/alert2-as/.settings/
/alert2-as/web/js/GeoExt/.DS_Store
/alert2-as/web/js/ext-3.4.0/.DS_Store
/web-app/files/manual_usuario_cv_ORIGINAL.pdf
/web-app/images/layout_images/logo_alert-as_old.png
/alert2-as/front/app-minify/
vendor/*
composer.lock
front/node_modules/*
front/npm-debug.log