/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/10/2016, 23:15:05
    Author     : educatux
*/

.messageResult{
    text-align: left;
    margin-left: 5px;
    background-color: red;
}